@charset "ISO-8859-1";

.btn{
  font-family: arial;
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}

.btn:focus, .btn::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}
.btn-green{
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
}
.btn-green:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
.btn-purple{
  background:purple;
  color:#fff;
  box-shadow:0 5px 0 #670167;
}
.btn-purple:hover{
  background:red;
  box-shadow:0 5px 0 #470047;
}
.btn-red{
  background:red;
  color:#fff;
  box-shadow:0 5px 0 #d20000;
}
.btn-red:hover{
  background:#d20000;
  box-shadow:0 5px 0 #b00000;
}
.btn-green:active, .btn-purple:active, .btn-red:active{
color: blue;
background:green;	
  position:relative;
  top:5px;
  box-shadow:none;
}

INPUT.MeuInput2 {
     width: 120px;
     height: 20px;
     font-family: verdana;
     background-color:white;
     font-style: inherit;
     font-size: large;	    
     border-color: black;
}

.alinhar{
float:right
}